@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Italiana&family=Outfit:wght@900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
}

section {
  padding: 0 10%;
}

hr {
  margin: 0 20%;
  opacity: 0.2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #081b29;
  color: #ededed;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  padding-top: 15vh;
  height: 95vh;
  display: flex;
  align-items: center;
  color: #ededed;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.about {
  text-align: center;
  padding-top: 5vh;
  height: 70vh;
  color: #ededed;
}

.about-content {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

.about h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
  margin-bottom: 30px;
}

.about-paragraph {
  width: 50%;
}

.profile {
  height: 35vh;
  margin: 15px 20px;
  border: #00abf0 1px solid;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile p {
  font-size: 18px;
  padding: 15px 15px;
}

.profile:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.about h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.about h3:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.education {
  width: 50%;
  padding: 0 0px 20px;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 20px;
  height: 35vh;
}

.education-item {
  flex-grow: 1;
  background-color: #ededed;
  color: #081b29;
  border-radius: 20px;
  padding: 20px;
  text-align: start;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.education-item:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.education-item .course-title {
  font-size: 17px;
  font-weight: 700;
  width: 100%;
}

.education-item .course-institute {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.education-item .course-period {
  font-size: 14px;
  font-style: italic;
}

.skills {
  align-items: center;
  padding-top: 30px;
  height: 80vh;
  color: #ededed;
}

.skills-content {
  text-align: center;
}

.skills-sections {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.skills-section {
  flex: 1;
  border-radius: 20px;
  transition: 0.3s;
}

.skill-title {
  flex: 1;
  background-color: #ededed;
  color: #081b29;
  min-height: 80px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.skill-title:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.skill-item {
  margin: 10px;
  padding: 10px 20px;
  border: #00abf0 1px solid;
  background-color: transparent;
  color: #00abf0;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.skill-item:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.contact {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20vh;
  color: #ededed;
}

.contact-content {
  text-align: center;
}

.contact-sections {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.contact-section {
  flex: 1;
  border-radius: 20px;
  border: #00abf0 1px solid;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.contact-section h2 {
  margin-bottom: 25px;
}

.contact-section:hover {
  background-color: #00abf0;
  color: #ededed;
  transform: scale(1.05);
  transition: 0.3s;
}

.footer {
  padding: 40px 10%;
  text-align: center;
  color: #ededed;
}
